@model IEnumerable<MVCStudentManager.Models.GiaoVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGV.cshtml";
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form (Optional) -->
        <h4 style="text-align:center; color:whitesmoke; font-weight:bold">Tìm theo tên</h4>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                @using (Html.BeginForm("", "", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
                {
                    @*<input type="text" name="q" class="form-control" placeholder="Search...">*@
                    <input type="text" id="SearchString" name="SearchString" value="" style="width: 170px;" class="form-control" placeholder="Search...">
                    @*@Html.TextBox("SearchString")*@
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    @*<p style="text-align:center">
                            @Html.TextBox("SearchString")
                        </p>
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>*@
                }
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" style="text-align:center">
                <h4 style="color:whitesmoke;font-weight:bold">MENU</h4>
            </li>
            <!-- Optionally, you can add icons to the links -->
            <li>
                <a href="@Url.Action("Student","GiaoVien")">
                    <i class="fa fa-link"></i>
                    <span>Xem danh sách học sinh</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Teacher","GiaoVien")">
                    <i class="fa fa-link"></i>
                    <span>Xem danh sách giáo viên</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Class","GiaoVien")">
                    <i class="fa fa-link"></i>
                    <span>Xem danh sách lớp</span>
                </a>
            </li>
            <li class="treeview">
                <a href="@Url.Action("Mark","GiaoVien")">
                    <i class="fa fa-link"></i>
                    <span>Điểm</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Mark","GiaoVien")">Xem điểm </a></li>
                        <li><a href="@Url.Action("ThemDiem","GiaoVien")">Thêm điểm mới</a></li>
                    </ul>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<br>
<h1 style="text-align:center;font-weight:bold">Xin chào giáo viên</h1>


