@model IEnumerable<MVCStudentManager.Models.Lop>
@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_LayoutHS.cshtml";
}
<h2 style="text-align:center">Danh sách lớp</h2>
@using (Html.BeginForm("Class", "HocSinh", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
{
    <p style="text-align:center">
        Tìm : @Html.TextBox("SearchString")
        <input type="submit" value="Tìm kiếm" />
    </p>
}
<br>
<table class="table">
    <tr>
        <th style="width:200px">Khối</th>
        <th style="width:200px">Năm học</th>
        <th style="width:100px">Lớp</th>
        <th style="width:200px">Giáo viên</th>
        <th style="width:200px">Sỉ số</th>
        <th style="width:200px"> </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Khoi.TenKhoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamHoc.TenNamHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaoVien.TenGiaoVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiSo)
            </td>
        </tr>
    }
</table>
