@model MVCStudentManager.Models.Lop

@{
    ViewBag.Title = "ThemLop";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br>
<h2 style="text-align:center; font-weight:bold">Thêm lớp</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*Khối*@
        <div class="form-group">
            @Html.LabelFor(model => model.Khoi.TenKhoi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaKhoi")
            </div>
        </div>
        @*Năm học*@
        <div class="form-group">
            @Html.LabelFor(model => model.NamHoc.TenNamHoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNamHoc")
            </div>
        </div>
        @*Tên lớp*@
        <div class="form-group">
            @Html.LabelFor(model => model.TenLop, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenLop, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenLop, "", new { @class = "text-danger" })
            </div>
        </div>
        @*Giáo viên*@
        <div class="form-group">
            @Html.LabelFor(model => model.GiaoVien.TenGiaoVien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaGiaoVien")
            </div>
        </div>
        @*Sỉ số*@
        <div class="form-group">
            @Html.LabelFor(model => model.SiSo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SiSo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SiSo, "", new { @class = "text-danger" })
            </div>
        </div>
        @*Button*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" /> |
                <button>
                    @Html.ActionLink("Trở về", "Class")
                </button>
            </div>
        </div>
    </div>
}


