@using MVCStudentManager.Models

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_LayoutGV.cshtml";
}

@{
    GiaoVien gv = (GiaoVien)Session["Taikhoan"];
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form (Optional) -->
        <h4 style="text-align:center; color:whitesmoke; font-weight:bold">Tìm theo tên</h4>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                @using (Html.BeginForm("", "", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
                {
                    @*<input type="text" name="q" class="form-control" placeholder="Search...">*@
                    <input type="text" id="SearchString" name="SearchString" value="" style="width: 170px;" class="form-control" placeholder="Search...">
                    @*@Html.TextBox("SearchString")*@
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    @*<p style="text-align:center">
                            @Html.TextBox("SearchString")
                        </p>
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>*@
                }
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" style="text-align:center">
                <h4 style="color:whitesmoke;font-weight:bold">MENU</h4>
            </li>
            <!-- Optionally, you can add icons to the links -->
            <li>
                <a href="@Url.Action("Info","GiaoVien")">
                    <i class="fa fa-link"></i>
                    <span>Xem thông tin cá nhân</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Teacher","GiaoVien")">
                    <i class="fa fa-link"></i>
                    <span>Xem danh sách giáo viên</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Class","GiaoVien")">
                    <i class="fa fa-link"></i>
                    <span>Xem danh sách lớp</span>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<br>
<h1 style="font-weight:bold; text-align:center">Thông tin cá nhân</h1>

<table align="center" style="font-size:30px">
    @using (Html.BeginForm())
    {
        <tr style="height:40px">
            <td style="font-weight:bold; float:right"> Họ tên :</td>
            <td>&nbsp; @gv.TenGiaoVien</td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold; float:right"> Tên môn :</td>
            <td>&nbsp; @gv.MonHoc.TenMon</td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold; float:right"> Địa chỉ :</td>
            <td>&nbsp; @gv.DiaChi</td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold; float:right"> Điện thoại :</td>
            <td>&nbsp; @gv.DienThoai</td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold; float:right"> IDLogin :</td>
            <td>&nbsp; @gv.IDLogin</td>
        </tr>
    }
</table>
<p style="text-align:center; font-size:20pt;float:right;padding-right:20px">
    <a href="@Url.Action("SuaGV","GiaoVien", new { id = gv.MaGiaoVien })" style="padding:5px ;color:black; background-color:yellow; font-weight:bold">Sửa thông tin</a> |
    <a href="@Url.Action("Index","GiaoVien")" style="padding:5px ;color:black; background-color:navajowhite; font-weight:bold">Trở về</a>
</p>