@using MVCStudentManager.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MVCStudentManager.Models.GiaoVien>

@{
    ViewBag.Title = "Teacher";
Layout = "~/Views/Shared/_LayoutGV.cshtml";
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form (Optional) -->
        <h4 style="text-align:center; color:whitesmoke; font-weight:bold">Tìm theo tên</h4>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                @using (Html.BeginForm("Teacher", "GiaoVien", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
                {
                    @*<input type="text" name="q" class="form-control" placeholder="Search...">*@
                    <input type="text" id="SearchString" name="SearchString" value="" style="width: 170px;" class="form-control" placeholder="Search...">
                    @*@Html.TextBox("SearchString")*@
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    @*<p style="text-align:center">
                            @Html.TextBox("SearchString")
                        </p>
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>*@
                }
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" style="text-align:center">
                <h4 style="color:whitesmoke;font-weight:bold">MENU</h4>
            </li>
            <!-- Optionally, you can add icons to the links -->
            <li>
                <a href="@Url.Action("Teacher","GiaoVien")">
                    <i class="fa fa-link"></i>
                    <span>Xem danh sách giáo viên</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Class","GiaoVien")">
                    <i class="fa fa-link"></i>
                    <span>Xem danh sách lớp</span>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<br>
<h1 style="text-align:center;font-weight:bold">Danh sách giáo viên</h1>

<table class="" border="1" align="center" style="width:1150px">
    <tr>
        <th style="width:200px; text-align:center">Tên giáo viên</th>
        <th style="width:200px; text-align:center">Địa chỉ</th>
        <th style="width:200px; text-align:center">Điện thoại</th>
        <th style="width:200px; text-align:center">Môn học</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.TenGiaoVien)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.MonHoc.TenMon)
            </td>
        </tr>
    }
</table>

<div class="MenuTrang" style="padding:20px 0 0 30px">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Teacher", new { page = page }))

    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</div>