@model MVCStudentManager.Models.HocSinh

@{
    ViewBag.Title = "XoaHS";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br>
<h2 style="text-align:center; font-weight:bold">XÁC NHẬN XÓA THÔNG TIN HỌC SINH</h2>

<h3 style="text-align:center">Bạn có quyết định xóa thông tin học sinh này ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        @*Họ tên*@
        <dt>
            Họ tên :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        @*Ngày sinh*@
        <dt>
            Ngày sinh :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        @*Giới tính*@
        <dt>
            Giới tính :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        @*Email*@
        <dt>
            Email :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        @*Địa chỉ*@
        <dt>
            Địa chỉ :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        @*Lớp*@
        <dt>
            Lớp :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lop.TenLop)
        </dd>

        @*Button*@
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-default" />
                    @*<button>
                        @Html.ActionLink("Trở về", "Student")
                    </button>*@
                </div>
            }
        </dd>
    </dl>
</div>
