@using MVCStudentManager.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MVCStudentManager.Models.DiemMon>

@{
    ViewBag.Title = "Mark";
    Layout = "~/Views/Shared/_LayoutHS.cshtml";
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form (Optional) -->
        <h4 style="text-align:center; color:whitesmoke; font-weight:bold">Tìm theo tên</h4>
        <form action="#" method="get" class="sidebar-form">

            <div class="input-group">
                @using (Html.BeginForm("", "", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
                {
                    @*<input type="text" name="q" class="form-control" placeholder="Search...">*@
                    <input type="text" id="SearchString" name="SearchString" value="" style="width: 170px;" class="form-control" placeholder="Search...">
                    @*@Html.TextBox("SearchString")*@
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    @*<p style="text-align:center">
                            @Html.TextBox("SearchString")
                        </p>
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>*@
                }
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" style="text-align:center">
                <h4 style="color:whitesmoke;font-weight:bold">MENU</h4>
            </li>
            <!-- Optionally, you can add icons to the links -->
            <li>
                <a href="@Url.Action("Student","HocSinh")">
                    <i class="fa fa-link"></i>
                    <span>Xem danh sách học sinh</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Class","HocSinh")">
                    <i class="fa fa-link"></i>
                    <span>Xem danh sách lớp</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Mark","HocSinh")">
                    <i class="fa fa-link"></i>
                    <span>Xem điểm</span>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<br>
<h1 style="text-align:center;font-weight:bold">Danh sách Điểm</h1>

<table class="table">
    <tr>
        <th style="width:100px">Học kì</th>
        <th style="width:200px">Học sinh</th>
        <th style="width:200px">Môn học</th>
        <th style="width:200px">Điểm 15 phút</th>
        <th style="width:200px">Điểm 1 tiết</th>
        <th style="width:200px">Điểm 1 học kỳ</th>
        <th style="width:200px">Điểm trung bình</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HocKy.TenHocKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocSinh.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonHoc.TenMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diem15phut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diem1Tiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemHK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemTB)
            </td>
        </tr>
    }
</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Student", new { page = page }))
</div>
<style>

    .MenuTrang li {
        display: inline;
    }
</style>