@model MVCStudentManager.Models.DiemMon

@{
    ViewBag.Title = "XoaDiem";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">XÁC NHẬN XÓA ĐIỂM</h2>

<h3 style="text-align:center">Bạn có muốn xóa điểm này ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @*Mã HS*@
        <dt>
            Học sinh :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HocSinh.HoTen)
        </dd>
        @*Mã môn*@
        <dt>
            Môn học :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMon)
        </dd>
        @*Mã học kỳ*@
        <dt>
            Học kỳ :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HocKy.TenHocKy)
        </dd>
        @*Điểm 15 phút*@
        <dt>
            Điểm 15 phút :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diem15phut)
        </dd>
        @*Điểm 1 tiết*@
        <dt>
            Điểm 1 tiết :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diem1Tiet)
        </dd>
        @*Điểm học kì*@
        <dt>
            Điểm học kì :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiemHK)
        </dd>
        @*Điểm trung bình*@
        <dt>
            Điểm trung bình :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiemTB)
        </dd>
        @*Button*@
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-default" /> |
                    <button>
                        @Html.ActionLink("Trở về", "Mark")
                    </button>
                </div>
            }
        </dd>
    </dl>
</div>
